.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 12px;

  background-color: rgba(0,0,0,0.1);
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;

  .legend-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    min-width: 280px;

    h4 {
      text-align: center;
    }

    .legend-images {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 18px;

      .legend-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          height: 80px;
        }
      }

    }
  }


  @media (min-width: 768px) {
      flex-direction: row;
  }
}


